.users{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    border: 1px solid #000;
}

.users ul{
    list-style: none;
    padding: 1rem;
}

.users li{
    border: 1px solid #000 ;
    margin: .5rem 0;
    padding: .5rem;
    background: #000;
    color: white;
}